<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"
    />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Chatting</title>
  </head>
  <body>
    <style>
      .page-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
      }
    </style>

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">
            {% if request.user.is_authenticated %} Welcome,
            {{request.user.username}} {% else%} Welcome, Please log in.
            {%endif%}
          </span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation">
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">
              <button
                type="submit"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
              >
                Logout
              </button></a
            >
            {% endif %}
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Chat Rooms</span>
        <a href="/create_chat">
          <button
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
          >
            Create a new chat
          </button>
        </a>
        <nav class="mdl-navigation">
          {% for chat in chats %}
          <a class="mdl-navigation__link" href="/chat/{{chat.id}}/">{{chat.title}}</a>
          {% endfor %}
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">{% block content %} {% endblock %}</div>
      </main>
    </div>
  </body>
</html>
